.noeditor .checkbox {
  height: 16px;
  width: 16px;
  border-radius: var(--noeditor-border-radius-sm);
  border: 1px solid currentColor;

  &[data-state='checked'] {
    background-color: var(--noeditor-bg-gray-800);
    border: none;
  }

  .checkbox-indicator {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--noeditor-fg-gray-50);
  }

  .checkbox-icon {
    width: 12px;
    height: 12px;
  }
}
