.noeditor {
  .slate-hr {
    padding: 6px 0;
    cursor: default;

    hr {
      height: 1px;
      color: var(--noeditor-border-gray-200);
    }

    &[data-selected='true'] {
      background-color: var(--noeditor-bg-gray-50);
      border-radius: 2px;
    }
  }
}
