.noeditor .slate-action_item {
  display: flex;
  padding: 3px 0;

  .checkbox {
    margin-right: 6px;
    flex-shrink: 0;
    align-self: start;
    margin-top: 4px;
  }

  .content {
    overflow: auto;
    overflow-wrap: break-word;
    line-height: 24px;
    flex: 1 1 0%;
  }

  &[data-checked='true'] {
    .content {
      text-decoration: line-through;
      color: var(--noeditor-fg-gray-500);
    }
  }
}
